<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{layouts/head :: head}"></head>

<body>

    <header th:replace="~{layouts/header :: header}"></header>

    <nav th:replace="~{layouts/nav :: nav}"></nav>

    <div class="seccion-contenido">
        <div class="row fila-contenido">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <section class="contenido">
                    <article>
                        <h2>subtitulo</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste dignissimos voluptates a ipsum, omnis
                            vero hic. Voluptate ab ut dolorum reprehenderit fuga molestiae excepturi totam quis temporibus
                            maiores,
                            doloribus similique?
                        </p>
                    </article>
                    <article>
                        <h2>subtitulo</h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus nesciunt ipsum in delectus
                            praesentium. Nemo fugit dolor corporis eum, totam perspiciatis sunt praesentium quo inventore porro
                            dolore
                            tenetur cumque sint.
                        </p>
                    </article>
                </section>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 columna-aside">
                <aside th:replace="~{layouts/aside :: aside}"></aside>
            </div>
        </div>
        <!-- <aside>
            <div class="contenido-aside">
                <h3>También te puede interesar</h3>
                <p>Día del Animal</p>
                <p>Vacunas</p>
                <p>Zoonosis</p>
            </div>
        </aside> -->
    </div>
    <footer th:replace="~{layouts/footer :: footer}"></footer>
    <!-- <footer>
        <p>Copyright 2023 - Nombre del sitio - Diseñado por Grupo 17 - Jujuy - República Argentina</p>
    </footer> -->


    
    
</body>

</html>