<!DOCTYPE html>
<html lang="es">
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Paseador</title>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head> -->
<head th:replace="~{layouts/head :: head}"></head>
<body>
    <header th:replace="~{layouts/header :: header}"></header>
    <nav th:replace="~{layouts/nav :: nav}"></nav>
    <div class="seccion-contenido">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div class="formulario">
                    <div class="titulo-formulario">
                        <h3 style="text-align: center;">Registros de Paseador</h3>
                    </div>
                    <form th:action="@{/paseos/guardar}" th:object="${paseador}" method="post">
                        <div class="mb-3">
                            <label for="codigo" class="form-label">Id</label>
                            <input type="number" class="form-control" id="codigo" aria-describedby="codigo" th:field="*{id}">                            
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" aria-describedby="nombre" th:field="*{nombre}"> 
                        </div>
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="apellido" aria-describedby="apellido" th:field="*{apellido}"> 
                        </div>                    
                        <div class="mb-3">
                            <label for="horario" class="form-label">Horario</label>
                            <input type="text" class="form-control" id="horario" aria-describedby="horario" th:field="*{horario}"> 
                        </div>                    
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <p>aside</p>
            </div>
        </div>

    </div>
    <footer th:replace="~{layouts/footer :: footer}"></footer>
</body>
</html>