<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header id="header" th:fragment="header">
        <div class="encabezado">
            <h1>Página veterinaria</h1>
            <img id="imagen-principal" src="../static/images/veterinarian001.png" alt="simbolo veterinaria"
                title="veterinaria">
        </div>
        <hr>
    </header>
</body>

</html>