<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
</head>
<body>
  <nav class="navbar navbar-expand-lg" th:fragment="nav">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Productos</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Consejos de salud</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Servicios Paseos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" th:href="@{/paseos/}">Horarios</a></li>
              <li><a class="dropdown-item" href="#">Paseadores</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Otros</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Sucursales</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contáctanos</a>
          </li>
        </ul>        
      </div>
    </div>
  </nav>
    <!-- <nav th:fragment="nav">
        <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a href="producto.html">Productos</a></li>
            <li><a href="consejos_salud.html">Consejos de salud</a></li>
            <li><a th:href="@{/paseos/}">Servicios de paseo</a></li>
            <li><a href="sucursales.html">Sucursales</a></li>
            <li><a href="contacto.html">Contáctanos</a></li>
        </ul>

    </nav>     -->
</body>
</html>