<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
</head>
<body>
    <nav th:fragment="nav">
        <ul>
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a href="producto.html">Productos</a></li>
            <li><a href="consejos_salud.html">Consejos de salud</a></li>
            <li><a th:href="@{/paseos/}">Servicios de paseo</a></li>
            <li><a href="sucursales.html">Sucursales</a></li>
            <li><a href="contacto.html">Contáctanos</a></li>
        </ul>
    </nav>    
</body>
</html>